@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Regular.otf") format("opentype");
}

body {
  background-color: #212121;
  font-family: "Lemon Milk", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.card {
  background-color: #484848;
}

.langage {
  background-color: #4a6670;
}

.langage-dark {
  background-color: #203c45;
}

.bdd {
  background-color: #a9c5a0;
}

.bdd-dark {
  background-color: #7a9471;
}

.framework {
  background-color: #f5d5ed;
}

.framework-dark {
  background-color: #c2a4bb;
}

.container {
  min-height: 100vh;
}

.container > .moi {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10%;
  width: 80%;
}

.description {
  letter-spacing: 0.2rem;
  line-height: 2em;
  text-align: justify;
}

.zone {
  height: 90vh;
}

img {
  min-height: auto !important;
}
